version: '3'

volumes:
  mysql-data:
  bundle:

services:
  web:
    build: .
    ports:
      - '3000:3000'
    volumes:
      - '.:/ScoopNote'
    tty: true
    stdin_open: true
    depends_on:
      - db
    links:
      - db

  db:
    image: mysql:5.6
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - "4306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: root
