<div class="card">
  <%= link_to image_tag( music.image , class: :card__img ), music_path(music)%>
  <div class="card__body">
    <%= link_to music.artist, root_path, class: :card__title%>
    <p class="card__summary">
      <%= music.title %>
    </p>
    <%= link_to "by #{music.user.nickname}", user_path(music.user_id), class: :card__user %>
  </div>
</div>