.link_box {
  display: inline-block;
  border: 1px #999 solid;
  border-radius: 12px;
  width: calc((100% - 100px) / 2);
  margin: 0 20px 20px 12px;
  padding: 12px;
  position: relative;
}

.fol_name{
  display: inline-block;
  align-items: center;
  position: absolute;
  margin-left: 12px;
  margin-top: 10px;
}

.link_box:hover {
  border: 3px #87CEFA solid;
}

.follow_list {
  margin: 0 0 40px 30px;
}

.search-form2 {
  text-align: center;
  margin-bottom: 48px;
}

.search-form2 .search-input2 {
  height: 39px;
  width: 40%;
  padding-left: 12px;
  margin-right: 10px;
  border: 1px solid #999;
  border-radius: 4px;
  font-size: 1em;
}

.search-btn2 {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 1em;
  margin-top: 1px;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.search-btn2:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
