.index_header {
  height: 400px;
  background-image: url("index_image");
  background-size: cover;
}
.bg-mask {
  height: 100%;
  background: rgba(255,255,255,0.4);
}
.head_message {
  padding-top: 80px;
  text-align: center;
}

.easy_login {
  padding-top: 80px;
  text-align: center;
  opacity: 1;
}

.easy__btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 1em;
  margin-top: 30px;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.easy__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.music_column {
  margin-top: 48px;
  text-align: center;
}