.greeting{
  margin-bottom: 20px;
}
.greeting__link{
  text-decoration: underline;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}
.card {
  position: relative;
  width: calc((100% - 50px) / 3);
  padding: 12px;
  margin-bottom: 40px;
  border: 1px solid#999;
  border-radius: 16px;
  background-color: WHITE;
}

.card .link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card:hover {
  border: 4px solid#87CEFA;
}

.card__img {
  margin-bottom: 16px;
  border-radius: 16px;
  width: 350px;
  height: 233px;
}
.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}
.card__summary {
  font-size: 16px;
}
.card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}
