/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .form__wrapper{
    width: 90%;
  }
  .nav__btn{
    padding: 0.4em 1.0em;
  }
  .nav__logout{
    padding: 0.4em 1.0em;
  }
  .link_box {
    display: block;
    width: calc(100% - 100px);
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .table{
    width: 100%;
  }
  .form__wrapper{
    width: 90%;
  }
  .nav__btn{
    padding: 0.4em 0.6em;
  }
  .nav__logout{
    padding: 0.4em 0.6em;
  }
  .link_box {
    display: block;
    width: calc(100% - 100px);
  }
}