.user__wrapper{
  min-height: calc(100vh - 161px);
  padding-top: 123px;
}

.user__card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.page-heading {
  margin-top: 48px;
  margin-bottom: 12px;
  text-align: center;
}

.dots {
  border-width: 0 0 8px;
  border-style: solid;
  border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1"><circle fill="hsla(0, 0%, 65%, 1.0)" cx="1" cy="0.5" r="0.5"/></svg>') 0 0 100% repeat;
  width: 216px;
  margin-bottom: 38px;
}

.dots2 {
  border-width: 0 0 8px;
  border-style: solid;
  border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1"><circle fill="hsla(0, 0%, 65%, 1.0)" cx="1" cy="0.5" r="0.5"/></svg>') 0 0 100% repeat;
  width: 280px;
  margin-bottom: 38px;
}