.prof__card {
  margin-bottom: 25px;
  border: 1px #999 solid;
  border-radius: 10px;
  padding: 12px 12px;
}

.avt__card {
  border-radius: 50%;
  width:  60px;
  height: 60px;
}

.avt_com {
  border-radius: 50%;
  width:  40px;
  height: 40px;
}

.prof__top {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.user_name {
  margin-left: 20px;
}

.prof__bottom {
  height: 100px;
  padding: 12px 12px;
  border-top: 1px #999 solid;
}

.edit__btn {
  margin: 0 0 0 auto;
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.edit__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.follow_label {
  display: flex;
  margin-bottom: 12px;
}

.follow__btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  margin-right: 12px;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.follow__btn:hover {
  color: #fff;
  background: #87CEFA;
}