.music__wrapper{
  min-height: calc(100vh - 161px);
}
.music__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.music__user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}
.music__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}
.music__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.detail__title{
  font-size: 20px;
  font-weight: bold;
}
.music__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.detail__artist{
  margin-bottom: 15px;
}

.music__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.music__btn:hover{
  color: #fff;
  background: #999;
}

.music__comments{
  background-color: #f6f6f6;
  padding: 20px;
  margin: 28px 0 40px 0;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

.favorite__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}

.favorite__btn:hover{
  color: #fff;
  background: #FF88FF;
}

.favorite__btn_stan{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #fff;
  background: #FF88FF;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}